body {
    background-color: rgba(248, 231, 241, 0.651);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

    padding: 1rem;
    margin: 1rem;
}


.pics_socs {
    width: 5rem; 
    padding: 1rem;
}

.pics_socs:hover {
    transform: scale(1.1);
}

.pics_skills {
    width: 5rem; 
    padding:  1rem;
}

.pics_skills:hover {
    transform: scale(1.1);
}

#content {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#pic {
    border-radius: 4%;
    width: 10rem ; /*1rem*/
}

h1, h3, h2, h4 {
    font-family: 'Ubuntu', sans-serif;

    color: rgb(37, 35, 35);
}

hr {
    width: 20%;
    height: 0.17rem;
    background-color: rgb(63, 34, 62);
    border: 1px rgb(95, 87, 114);
    border-radius: 0.5rem;
}