body {
    background-color: rgba(248, 231, 241, 0.651);
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 1rem;
    margin: 1rem;
}


.pics_socs {
    width: 5rem; 
}

.pics_socs:hover {
    transform: scale(1.1);
}

.pics_skills {
    width: 5rem; 
}

.pics_skills:hover {
    transform: scale(1.1);
}

#content {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

#pic {
    border-radius: 4%;
    width: 10rem ; /*1rem*/
}

h1, h3, h2, h4 {
    font-family: 'Ubuntu Light';
    color: rgb(37, 35, 35);
}